# General ignored
*#*#
*.#*
*~

# mac os
.DS_Store

# eclipse
.cache
.classpath
.project
.settings

# intellij idea
.idea/
.idea_modules/

# scala
.scala_dependencies

# sbt
project/

# other
target/
tmp/
lib/
dist/
lib_managed/
*.log