*#*#
*.#*
*.iml
*~
.DS_Store
.cache
.classpath
.idea/
.idea_modules/
.project
.scala_dependencies
.settings
lib/
dist/
lib_managed/

*.log
log/
logs/
out/
project/
target/


# For Hive
metastore_db/
spark-warehouse/

tmp/
tmp/spark
tmp/spark-hive