# eclipse related files
.settings/
.cache-main
.cache-tests
.classpath
.project
target/

# IntelliJ related files
.idea/
*.iml

# gralde related files
.gradle/
build/

# spark related files
**/derby.log
**/metastore_db/
**/spark-warehouse/

# macos related files
**/.DS_Store

# other files
**/tmp/
**/temp/
**/logs/




